* , html{
    margin: 0;
    padding: 0;
}

.wrapper{
    min-height: 120vh;
    height: 120vh;
}

li{
    list-style: none;
    text-align: center;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    text-decoration: none;
}