* , html{
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p
a{
    font-weight: 400;
    font-family: sans-serif;
}

.wrapper{
    min-height: 200vh;
    max-height: 1805vh;
}


li{
    list-style: none;
    text-align: center;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    text-decoration: none;
}

input[type="text"], 
input[type="email"] , 
input[type="tel"] ,
select,
textarea{
    padding: .5em 3em .5em .4em;
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: 300;
}

input[type="submit"] {
    all: unset;
    cursor: pointer;
}

b{
    color: pink;
}


@media ( max-width: 600px ) {
    input[type="text"], 
    input[type="email"] , 
    input[type="tel"] ,
    select,
    textarea{
        padding: .5em 4em .5em .4em;
    }
}
