.checkoutContainer,
.shopping_title,
.Colour_Of_Month_Container{
    z-index: 9999999999;
    position: relative;
}

.shopping_title {
    padding: 3em;
    padding-left: 1em;
    background: white;
}

.checkoutContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 6em;
    background: white;
}

.Cart_Form {
    width: 100%;
}

.checkoutDisplayContainers{
    padding: 4em;
    display: flex;
    flex-direction: column;
}

.checkoutDisplayContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.checkoutDisplayContainer img {
    width: 13em;
}

.plus, .minus {
    padding: .5em 1em;
    background: black;
    color: white;
}

.priceCartContainer {
    display: flex;
}

input#quantity {
    text-align: center;
    padding-right: 1em;
    margin: 1em;
}

.remove-btn {
    padding: 1em 1em;
    background: red;
    color: white;
    border-radius: 9px;
}
.bottomPart {
    display: flex;
    justify-content: flex-end;
    padding: 2em;
    width: 90%;
}

.bottomPart span h5 {
    margin-right: 1em;
}

.bottomPart span {
    display: flex;
    align-items: center;
}

.proceed_to_checkout {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.proceed_to_checkout a ,
.continueShopping a {
    background: black;
    padding: 1em;
    color: white;
    text-transform: uppercase;
}

@media ( max-width: 600px ) {
    .checkoutContainer {
        padding-bottom: 1em;
    }
    .checkoutDisplayContainers{
        padding: unset;
    }
    .checkoutDisplayContainer {
        padding-bottom: 1em;
        flex-direction: column;
        justify-content: unset;
    }
    .checkoutDisplayContainer img {
        width: 11em;
        margin-top: 2em;
        margin-bottom:2em;
    }
    input#quantity {
        padding-right: unset;
    }
    .priceCartContainer {
        padding:1em;
    }
    .XContainer {
        order: -1;
        margin-left: auto;
        margin-right: 1em;
        margin-top: 3em;
    }
    .proceed_to_checkout {
        flex-direction: column;
    }
    .proceed_to_checkout a ,
    .continueShopping a {
        margin-bottom: 1em;
        text-align: center;
    }



}