.overall_container {
    display: flex;
    height: 110vh;
}

.smaller_container:first-child {
    flex: 1 0 20%;
    display: block;
    background: black;
}
.logo {
    height: 40vh;
}

.logo img {
    height: 50vh;
    width: 100%;
}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.nav li{
    font-size: 2em;
    padding: .5em 1em;
}

.nav li a {
    font-family: sans-serif;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

.smaller_container:nth-child(2){
    flex: 2 0 80%;
}

.hamburger_container {
    position: absolute;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background: rgba(0,0,0,0.3);
    width: 80%;
    z-index: 9999;
}

.hamburger_container h1, .hamburger_container .burger_menu {
    color: #fff;
    font-family: Dancing Script;
    padding: 0em 2em;
}

.hamburger_container .burger_menu {
    display:none;
}

.bar1 ,.bar2 , .bar3{
    width: 40px;
    height: 5px;
    background: #fff;
    margin: 6px 0;
    transition: .4s;
    
}
.bar2 {
    width: 20px;
}

.change .bar1 {
    transform: rotate(-45deg) translate(71.5px,115.5px);
}

.change .bar2{
    opacity: 0;
}

.change .bar3{
    transform: rotate(45deg) translate(101px,-87px);
}

.smaller_container:nth-child(2) img {
    width: 80vw;
    height: 100vh;
    position: fixed;
}

@media ( max-width: 600px ) {
    .overall_container {
        height: 60vh;
    }
    .wrapper.open{
        min-height: 100vh;
        height: 100vh;
    }

    .wrapper.open > 
    .overall_container > 
    .smaller_container:first-child.open > 
    .nav {
        height: 70%;
    }

    .overall_container.open ~ .Coffee_Pics_Container , 
    .overall_container.open ~ .Yellow_Pics_Container ,
    .overall_container.open ~ .Blue_Pics_Container , 
    .overall_container.open ~ .Abstract_Pics_Container , 
    .overall_container.open ~ .Colour_Of_Month_Container , 
    .overall_container.open ~ .Shop_Main_Container , 
    .overall_container.open ~ .About_Container , 
    .overall_container.open ~ .Contact_Details_Container{
        display: none;
        position: absolute;
        left: 0;
    }

    .smaller_container:nth-child(2) img {
        height: 50vh;
        width : 100vw;
    }

    .hamburger_container{
        width: 100%;
        height: 8vh;
        justify-content: unset;
    }

    .hamburger_container.open{
        width: 100%;
    }

    .hamburger_container h1,.hamburger_container .burger_menu {
        padding: 0em 1em;
    }

    .hamburger_container .burger_menu {
        display: block;
        margin-left: auto;
        padding: 0em 2em;
        visibility: visible;
    }

    .smaller_container:first-child{
        display:none;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .logo img {
        width: 55vw;
        height: 70vw;
    }


    .smaller_container:first-child.open {
        flex: 1 0 20%;
        display: block;
        height: 100vh;
    }

    .smaller_container:first-child.open ~ .smaller_container:nth-child(2){
        visibility: hidden;
        position: absolute;
        left: 0;
    }

    .hamburger_container.open {
        width: 100%;
    } 
}