.wrapper{
    height: 485vh;
    background: white;
}

.overall_container {
    display: flex;
    height: 110vh;
}

.smaller_container:first-child {
    flex: 1 0 20%;
    display: block;
    background: black;
}
.logo {
    height: 40vh;
}

.logo img {
    height: 50vh;
    width: 100%;
}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.nav li{
    font-size: 2em;
    padding: .5em 1em;
}

.nav li a {
    font-family: sans-serif;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

.smaller_container:nth-child(2){
    flex: 2 0 80%;
}

.hamburger_container {
    position: absolute;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background: rgba(0,0,0,0.3);
    width: 80%;
    z-index: 9999;
}



.hamburger_container h1, .hamburger_container .burger_menu {
    color: #fff;
    font-family: Dancing Script;
    padding: 0em 2em;
}

.hamburger_container .burger_menu {
    display:none;
}

.smaller_container:nth-child(2) img {
    width: 80vw;
    height: 100vh;
    position: fixed;
}

.Coffee_Pics_Container , .Yellow_Pics_Container , .Blue_Pics_Container , .Abstract_Pics_Container , .Colour_Of_Month_Container {
    display: flex;
    flex-wrap: nowrap;
    padding: 4em 2em;
    z-index: 9999999999;
    position: relative;
    background: white;
}

.coffee_sm_pics_container , .yellow_sm_pics_container , .blue_sm_pics_container , .abstract_sm_pics_container {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coffee_sm_pics_container:first-child , .blue_sm_pics_container:first-child{
    flex-direction: unset;
    justify-content: space-evenly;
}

.yellow_sm_pics_container:first-child , .abstract_sm_pics_container:first-child{
    text-align: center;
}


.coffee_sm_pics_container img , .yellow_sm_pics_container img , .blue_sm_pics_container img ,.abstract_sm_pics_container img{
    width:40vw;
    height: 60vh;
    margin-left: 6em;
    
}

.coffee_sm_pics_container:nth-child(2) , .blue_sm_pics_container:nth-child(2) {
    text-align: center;
}

.yellow_sm_pics_container:nth-child(2), .abstract_sm_pics_container:nth-child(2){
    flex-direction: unset;
    justify-content: space-evenly;
}

.coffee_sm_pics_container h1 , .yellow_sm_pics_container h1 , .blue_sm_pics_container h1 , .abstract_sm_pics_container h1{
    font-family: fantasy;
    margin-bottom: 1em;
}

.coffee_sm_pics_container a, .yellow_sm_pics_container a, .blue_sm_pics_container a, .abstract_sm_pics_container a {
    padding: 1.2em 1em;
    background: black;
    width: 12vw;
    color: white;
    border: 2px solid #eee;
    font-weight: 400;
    margin: 0 auto;
    font-family: sans-serif;
}

.Colour_Of_Month_Container {
    display: flex;
    flex-wrap: wrap;
    padding: 6vh 0vw;
    background: black;
    color: white;
}

.colour_sm_container h1 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
    margin-top: .5em;
}

.colour_sm_container:first-child {
    flex: 1 0 30%;
    justify-content: center;
    align-items: end;
    margin-bottom: 2vh;
    display: flex;
}

.colour_sm_container:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    flex: 2 0 80%;
    justify-content: center;
}

.circle {
    height: 8vh;
    width: 5vw;
    margin-left: 2em;
    border-radius: 50%;
    background: blue;
}

.colour_of_month_collage {
    display: flex;
}

.colour_of_month_collage img {
    width: 20vw;
    margin-right: 1vw;
}






@media ( max-width: 600px ) {
    .wrapper {
        height: 437vh;
    }

    .wrapper.open{
        min-height: 100vh;
        height: 100vh;
    }

    .wrapper.open > .overall_container > .smaller_container:first-child.open > .nav {
        height: 70%;
    }

    
    .overall_container {
        height: 60vh;
    }

    .overall_container.open ~ .Coffee_Pics_Container , .overall_container.open ~ .Yellow_Pics_Container , .overall_container.open ~ .Blue_Pics_Container , .overall_container.open ~ .Abstract_Pics_Container , .overall_container.open ~ .Colour_Of_Month_Container {
        display: none;
        position: absolute;
        left: 0;
    }

    .smaller_container:nth-child(2) img {
        height: 50vh;
        width : 100vw;
    }

    .hamburger_container{
        width: 100%;
        height: 8vh;
        justify-content: unset;
    }

    .hamburger_container.open{
        width: 100%;
    }

    .hamburger_container h1,.hamburger_container .burger_menu {
        padding: 0em 1em;
    }

    .hamburger_container .burger_menu {
        display: block;
        margin-left: auto;
        padding: 0em 2em;
        visibility: visible;
    }

    .smaller_container:first-child{
        display:none;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .logo img {
        width: 55vw;
        height: 70vw;
    }


    .smaller_container:first-child.open {
        flex: 1 0 20%;
        display: block;
        height: 100vh;
    }

    

    .smaller_container:first-child.open ~ .smaller_container:nth-child(2){
        visibility: hidden;
        position: absolute;
        left: 0;
    }
    .Coffee_Pics_Container , .Yellow_Pics_Container , .Blue_Pics_Container , .Abstract_Pics_Container {
        flex-wrap: wrap;
        padding: 2em 0em;
    }

    .coffee_sm_pics_container:first-child , .blue_sm_pics_container:first-child {
        justify-content: center;
    }

    .coffee_sm_pics_container img , .yellow_sm_pics_container img , .blue_sm_pics_container img , .abstract_sm_pics_container img{
        width:80vw;
        height: 40vh;
        margin-left: unset;
        margin-bottom: 1em;
        
    }

    .coffee_sm_pics_container a , .yellow_sm_pics_container a , .blue_sm_pics_container a , .abstract_sm_pics_container a {
        width: 32vw;
    }

    .coffee_sm_pics_container h1 , .yellow_sm_pics_container h1 , .blue_sm_pics_container h1 , .abstract_sm_pics_container h1{
        font-size: 1.2em;
    }

    .yellow_sm_pics_container:nth-child(2) , .abstract_sm_pics_container:nth-child(2){
        justify-content: center;
        order: -1;
    }

    .Colour_Of_Month_Container{
        padding: 5vh 0vw;
    }

    .colour_sm_container:first-child {
        flex-wrap: wrap;
    }

    .colour_sm_container h1 {
        text-align: center;
        margin-bottom: 1em;
    }

    .circle {
        height: 10vh;
        width: 18vw;
        margin-left: unset;
    }

    .colour_of_month_collage img {
        width: 47vw;
        height: 40vh;
        margin: .3em;
    }

    .colour_of_month_collage {
        flex-wrap: wrap;
    }


    

}